body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode .table {
    background-color: #1e1e1e;
    color: white;
}

body.dark-mode input {
    background-color: #333;
    color: white;
    border-color: #555;
}

body.dark-mode input:focus {
    background-color: #333;
    color: white;
    border-color: #888;
}

body.dark-mode input::placeholder{
    color:white;
}

body.dark-mode .table th,
body.dark-mode .table td {
    background-color: #1e1e1e;
    color: white;
}

body.dark-mode .modal-content {
    background-color: #1e1e1e;
    color: white;
}

body.dark-mode .btn-close {
    filter: invert(1);
}
.fa-plus,
.fa-minus,
.fa-pen-to-square,
.fa-trash {
   cursor: pointer;
}

.fa-plus:hover,
.fa-minus:hover,
.fa-pen-to-square:hover,
.fa-trash:hover {
    transform: scale(1.3);
}